<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-info mt-3">Account Details</h3>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Account No</th>
            <th scope="col">Date</th>
            <th scope="col">Transaction Details</th>
            <th scope="col">Value Date</th>
            <th scope="col">Withdrawal AMT</th>
            <th scope="col">Deposit AMT</th>
            <th scope="col">Balance AMT</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let accountdetail of accoontDetailsToShowOnUI">
            <td>{{accountdetail.accountNo}}</td>
            <td>{{accountdetail.date}}</td>
            <td>{{accountdetail.transactionDetails}}</td>
            <td>{{accountdetail.valueDate}}</td>
            <td>{{accountdetail.withdrawalAmount}}</td>
            <td>{{accountdetail.depositeAmount}}</td>
            <td>{{accountdetail.balanceAmount}}</td>
          </tr>
        </tbody>
      </table>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination float-right">
          <li class="page-item">
            <a class="page-link" aria-label="Previous" (click)="goBack()" style="cursor: pointer;">
              <span aria-hidden="true">Prev</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link">1</a></li>
          <li class="page-item"><a class="page-link">2</a></li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item">
            <a class="page-link" aria-label="Next" (click)="goForward()" style="cursor: pointer;">
              <span aria-hidden="true">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>